
@{
    ViewBag.Title = "Home";
}
<html>
<head> <h1>Welcome To Home Page</h1></head>
<body>
    <a href="/home/teacherlogin"> Teacher Login</a>
    <br />
    <a href="/home/studentlgn"> Student Login</a>
</body>
</html>