
@{
    ViewBag.Title = "teacherlogin";
}

<h1>teacher login</h1>

<!DOCTYPE html>
<html>
<head>


</head>

<body>

    <form method="post">
        <div>
            <label>enter username </label>
            <input type="text" id="Username" name="Username" class="form-control" required />
        </div>
        <div>
            <label>enter password</label>
            <input type="password" id="Password" name="Password" class="form-control" required />
        </div>

        <div>
            <input type="submit" value="submit " />
        </div>
    </form>
</body>
</html>